<div class="component-nav-container">
  <div class="component-nav-content">
    <mat-nav-list>
      @for (item of items; track item.id) {
        @if (item.externalRedirect) {
          <a mat-list-item [href]="item.externalRedirect">{{item.name}}</a>
        } @else {
          <a mat-list-item #link="routerLinkActive"
            [routerLink]="'/' + item.id"
            [activated]="link.isActive"
            routerLinkActive="dt-sidenav-item-selected"
            [attr.aria-current]="link.isActive ? 'page': 'false'">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <span matListItemTitle>{{item.name}}</span>
            @if (item.requiresServer) {
              <div matListItemMeta matTooltip="Requires server communication">
                <mat-icon>
                  policy_alert
                </mat-icon>
              </div>
            }
          </a>
        }
      }
    </mat-nav-list>
  </div>
</div>
