<form [formGroup]="form">
  <div>
    <h3>Output type</h3>
    <mat-button-toggle-group formControlName="encodingType" class="stretch output-type-selector">
      @for (type of filteredEncodingTypes(); track type.value) {
        <mat-button-toggle class="stretch" [value]="type.value">
          {{ type.label }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>

  @if (output()) {
    <h4>Output length: {{output().length}}</h4>
    @if (form.controls.encodingType.value == 'file') {
      <button matButton (click)="downloadFile()">
        Download
      </button>
    } @else {
      <dt-clipboard-output [output]="outputStr()"></dt-clipboard-output>
    }
  }
</form>
