<h1>Clipboard</h1>
<mat-divider></mat-divider>

<h3>Load</h3>
<div class="load-input-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" dtCodeMask />
    </mat-form-field>
  </form>
  <button [disabled]="form.disabled" matButton type="submit" (click)="load()">Load</button>
</div>


<dt-input-selector
  (valueSubmited)="setInput($event)"
  (valueReseted)="resetInput()"
  submitButtonText="Upload"
  [allowedTypes]="['utf8', 'file']"
  [disable]="form.disabled"
></dt-input-selector>

@if (model()) {
  <div class="clipboard-output-container">
    <div class="clipboard-output-content">
      <h3>Code</h3>
      <dt-clipboard-output [output]="model()!.code | clipboardCode"></dt-clipboard-output>
    </div>
    @if (model()!.copyUrl) {
      <div class="clipboard-output-content">
        <h3>Copy URL</h3>
        <dt-clipboard-output [output]="model()!.copyUrl!"></dt-clipboard-output>
      </div>
    }

  </div>
  @if (model()!.text) {
    <div class="clipboard-output-content">
      <h3>Text</h3>
      <dt-clipboard-output [output]="model()!.text!"></dt-clipboard-output>
    </div>
  }
  @if (model()!.file?.url) {
    <div class="clipboard-output-content">
      <h3>File</h3>
      <div class="download-file-container">
        <a matButton [href]="model()!.file!.url" download>
          Download
        </a>
        <span>{{model()!.file!.name}}</span>
      </div>
    </div>
  }
}
