.load-input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clipboard-output-container {
  display: flex;
  gap: 10px;
}

.clipboard-output-content {
  margin-top: 20px;
}
