@use '../styles/constants';

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  margin-top: 56px;
  height: 100%;
}

.sidenav-content {
  display: flex;
}

.sidenav-content-body {
  display: flex;
  flex: 1 1 auto;
}

.route-container {
  width: calc(100vw - 271px);

  @media (max-width: constants.$small-breakpoint-width) {
    width: 100vw;
  }
}

.route-container-body {
  padding: 20px 50px;
}
