.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  margin-top: 56px;
}

.sidenav-content {
  display: flex;
}

.sidenav-content-body {
  display: flex;
  flex: 1 1 auto;
}

.route-container {
  width: calc(100vw - 271px);
}

.route-container-body {
  padding: 20px 50px;
}
