<form [formGroup]="form">
  <div>
    <h3>Input type</h3>
    <mat-button-toggle-group formControlName="encodingType" class="stretch input-type-selector">
      @for (type of filteredEncodingTypes(); track type.value) {
        <mat-button-toggle class="stretch" [value]="type.value">
          {{ type.label }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
  @if (form.controls.encodingType.value == 'file') {
    <dt-files-input formControlName="inputFile" [single]="true"></dt-files-input>
  } @else {
    <mat-form-field class="stretch">
      <mat-label>Input</mat-label>
      <textarea matInput formControlName="inputValue" class="text-area"></textarea>
    </mat-form-field>
  }

  <div class="buttons-container">
    <button [disabled]="submited" mat-raised-button color="primary" type="button" (click)="submit()">
      {{submitButtonText}}
    </button>
    <button [disabled]="!submited" mat-raised-button color="primary" type="button" (click)="reset()">
      Reset
    </button>
  </div>
</form>
